<div class="side-bar-upper">
  <div class="side-bar-upper__user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
  <div class="side-bar-upper__chat-create">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="side-bar-middle">
  <% current_user.rooms.each do |room| %>
  <div class="side-bar-middle__room">
    <div class="side-bar-middle__roomname">
      <a href="#"><%= room.name %></a>
    </div>
  </div>
  <% end %>
</div>
