.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
  
}

.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  
}

.chat-upper{
  height: 100px;
  padding: 0 40px;
}

.chat-middle{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0
}

.chat-form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}

/* ##############################################
①サイドバー上部
############################################## */

.side-bar-upper{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar-upper__user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.side-bar-upper__chat-create a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

/* ##############################################
②サイドバー中部
############################################## */

.side-bar-middle{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.side-bar-middle__room{
  padding: 20px 0 40px;
}

.side-bar-middle__roomname a{
  text-decoration: none;
  color: white;
}